# Ignora as dependências, pois serão instaladas dentro do container
node_modules

# Ignora o arquivo de variáveis de ambiente local
.env

# Ignora logs do NPM
npm-debug.log

# Ignora os próprios arquivos do Docker
Dockerfile
.dockerignore

# Ignora arquivos de versionamento
.git
.gitignore 